@model tpeapp.Models.Usuarios

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuarioNome" class="control-label"></label>
                <input asp-for="UsuarioNome" class="form-control" />
                <span asp-validation-for="UsuarioNome" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isHomem" /> @Html.DisplayNameFor(model => model.isHomem)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isMulher" /> @Html.DisplayNameFor(model => model.isMulher)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioTelefone" class="control-label"></label>
                <input asp-for="UsuarioTelefone" class="form-control" />
                <span asp-validation-for="UsuarioTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioEmail" class="control-label"></label>
                <input asp-for="UsuarioEmail" class="form-control" />
                <span asp-validation-for="UsuarioEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

