@model tpeapp.Models.CongregationsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CongregationsModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CongregationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CongregationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CircuitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Circuits.CircuitName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CongregationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
